.curriculumForm {
    display: flex;
    margin: 20px 12px;
    column-gap: 20px;
}

.curriculumForm__form {
    flex: 30%;

    label {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.curriculumForm__data {
    max-width: 800px;
    flex: 70%;
    margin: 0 auto;
    @media print{
        margin:0 10px;
    }
    h1,
    h2 {
        margin: 0;
        text-align: center;
    }

    h1 {
        font-size: 9.5px;
    }

    h2 {
        font-size: 8px;
    }

    .grid-container {
        display: grid;
        grid-template-rows: auto;
        text-align: center;
        width: 100%;
    }

    .grid-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .title {
            background: #bcf7cc;
            font-weight: 400;
            padding: 8px 16px;
            display: flex;
            align-items: center;
        }

        div:not(.title) {
            font-weight: 400;
            min-height: 18px;
            padding: 8px 16px;
        }

        &--name {
            grid-template-columns: 25% 1fr !important;
            span{
                rotate: 270deg;
                max-width: 100px;
            }
        }

        &--column {
            grid-template-columns: unset !important;
            grid-template-rows: 1fr 1fr;
        }

        div {
            box-shadow:
                1px 0 0 0 #000,
                0 1px 0 0 #000,
                1px 1px 0 0 #000,
                1px 0 0 0 #000 inset,
                0 1px 0 0 #000 inset;

            &.no-padding {
                padding: 0 !important;
            }
        }

        &--ECTS {
            grid-template-columns: repeat(3, 1fr) !important;
            grid-template-rows: repeat(4, 1fr) !important;
            div:not(.title){
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .div1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            .div2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            .div3 {
                grid-area: 1 / 3 / 2 / 4;
            }

            .div4 {
                grid-area: 2 / 1 / 3 / 2;
            }

            .div5 {
                grid-area: 2 / 2 / 3 / 3;
            }

            .div6 {
                grid-area: 3 / 1 / 4 / 2;
            }

            .div7 {
                grid-area: 3 / 2 / 4 / 3;
            }

            .div8 {
                grid-area: 4 / 1 / 5 / 2;
            }

            .div9 {
                grid-area: 4 / 2 / 5 / 3;
            }

            .div10 {
                grid-area: 2 / 3 / 5 / 4;
            }

        }
    }

    .break {
        grid-column: 1 / -1;
        /* Span the break across all columns */
        height: 5px;
        background-color: grey;
        border: none;
        box-shadow:
            1px 0 0 0 #000,
            0 1px 0 0 #000,
            1px 1px 0 0 #000,
            /* Just to fix the corner */
            1px 0 0 0 #000 inset,
            0 1px 0 0 #000 inset;
    }
}