body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9.5px;
}

textarea {
  white-space: pre-wrap;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

li {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px 12px;
  transition: all 0.3s;
}

li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  margin-right: 12px;
  transition: 0.3s ease;
}

li a:first-child {
  margin-left: 12px;
}

li a:hover {
  color: #0056b3;
}

li:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-add {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button-add:hover {
  background-color: #0056b3;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

form button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-clip: padding-box;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.curriculumForm {
  display: flex;
  margin: 20px 12px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.curriculumForm__form {
  flex: 30%;
}
.curriculumForm__form label {
  display: flex;
  flex-direction: column;
}
.curriculumForm__form label:not(:last-child) {
  margin-bottom: 12px;
}

.curriculumForm__data {
  max-width: 800px;
  flex: 70%;
  margin: 0 auto;
}
@media print {
  .curriculumForm__data {
    margin: 0 10px;
  }
}
.curriculumForm__data h1,
.curriculumForm__data h2 {
  margin: 0;
  text-align: center;
}
.curriculumForm__data h1 {
  font-size: 9.5px;
}
.curriculumForm__data h2 {
  font-size: 8px;
}
.curriculumForm__data .grid-container {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  width: 100%;
}
.curriculumForm__data .grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.curriculumForm__data .grid-item .title {
  background: #bcf7cc;
  font-weight: 400;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.curriculumForm__data .grid-item div:not(.title) {
  font-weight: 400;
  min-height: 18px;
  padding: 8px 16px;
  text-align: left;
}
.curriculumForm__data .grid-item--name {
  grid-template-columns: 25% 1fr !important;
}
.curriculumForm__data .grid-item--name span {
  rotate: 270deg;
  max-width: 100px;
}
.curriculumForm__data .grid-item--column {
  grid-template-columns: unset !important;
  grid-template-rows: 1fr 1fr;
}
.curriculumForm__data .grid-item div {
  box-shadow: 1px 0 0 0 #000, 0 1px 0 0 #000, 1px 1px 0 0 #000, 1px 0 0 0 #000 inset, 0 1px 0 0 #000 inset;
}
.curriculumForm__data .grid-item div.no-padding {
  padding: 0 !important;
}
.curriculumForm__data .grid-item div.no-wrap {
  white-space: pre-wrap;
}
.curriculumForm__data .grid-item--ECTS {
  grid-template-columns: repeat(3, 1fr) !important;
  grid-template-rows: repeat(4, 1fr) !important;
}
.curriculumForm__data .grid-item--ECTS div:not(.title) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.curriculumForm__data .grid-item--ECTS .div1 {
  grid-area: 1/1/2/2;
  justify-content: center;
}
.curriculumForm__data .grid-item--ECTS .div2 {
  grid-area: 1/2/2/3;
}
.curriculumForm__data .grid-item--ECTS .div3 {
  grid-area: 1/3/2/4;
}
.curriculumForm__data .grid-item--ECTS .div4 {
  grid-area: 2/1/3/2;
}
.curriculumForm__data .grid-item--ECTS .div5 {
  grid-area: 2/2/3/3;
}
.curriculumForm__data .grid-item--ECTS .div6 {
  grid-area: 3/1/4/2;
}
.curriculumForm__data .grid-item--ECTS .div7 {
  grid-area: 3/2/4/3;
}
.curriculumForm__data .grid-item--ECTS .div8 {
  grid-area: 4/1/5/2;
}
.curriculumForm__data .grid-item--ECTS .div9 {
  grid-area: 4/2/5/3;
}
.curriculumForm__data .grid-item--ECTS .div10 {
  grid-area: 2/3/5/4;
}
.curriculumForm__data .grid-item--table {
  grid-template-columns: 72% 1fr;
}
.curriculumForm__data .grid-item--table-headings {
  grid-template-columns: 14% 30% 14% 14% 14% 14% !important;
}
.curriculumForm__data .grid-item--table-row {
  grid-template-columns: 14% 30% 14% 14% 14% 14% !important;
}
.curriculumForm__data .grid-item--bilans-headings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.curriculumForm__data .grid-item--bilans-row {
  grid-template-columns: repeat(3, 1fr);
}
.curriculumForm__data .break {
  grid-column: 1/-1;
  /* Span the break across all columns */
  height: 5px;
  background-color: grey;
  border: none;
  box-shadow: 1px 0 0 0 #000, 0 1px 0 0 #000, 1px 1px 0 0 #000, 1px 0 0 0 #000 inset, 0 1px 0 0 #000 inset;
}
@media print {
  .curriculumForm__data .pagebreak {
    clear: both;
    page-break-after: always;
  }
}
